.App {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow-y: scroll;
  padding: 20px;
}

.custom-input {
  width: 100%;
  padding: 10px 0;
  color: #8f8f8f;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.custom-input::placeholder {
  color: #8f8f8f;
  font: normal normal normal 11px/14px Montserrat;
}

.custom-input:valid {
  color: #1e293b;
  font: normal normal bold 13px/16px Montserrat;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #8f8f8f;
  padding: 0 2px;
}

.number-container {
  background-color: #f5f5f5;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1e293b;
  font: normal normal bold 13px/16px Montserrat;
}

.close-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(30px);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
}

.number-stack:hover .close-icon-container {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  width: auto;
}

.number-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
